# === ENVIRONNEMENT PYTHON ===
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# === FICHIERS TEMPORAIRES / CACHE ===
*.log
*.tmp
*.bak
*.swp
*.lock
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# === ENVIRONNEMENTS / CONFIG ===
.env
*.env
.idea/
.vscode/
.ipynb_checkpoints/

# Tests / typage / couverture
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/

# === DATA ===
# Ignorer le contenu des dossiers de données...
data/raw/*
data/cleaned/*

# ... SAUF les fichiers dont on a besoin.
!data/raw/accidentsVelo-full.csv
!data/cleaned/accidents_cleaned.csv  


# === AUTRES ===
images/*
!images/README_preview.png

# === BACKUP ET DIVERS ===
*.zip
*.tar
*.gz
*.rar